<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write a new Message</title>
</head>
<body>
    <h3>Write a new Meassage</h3>
    <form method="post" action="/create">
        <input type="text" placeholder="who are you?" name="from">
        <br>
        <textarea name="msg" cols="30" rows="4"> Write your message here</textarea>
        <br>
        <input type="text" placeholder="add Receiver" name="to">
        <br>
        <button>Send Meassage</button>
    </form>
</body>
</html>